<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFI45LFiaNOgaa5QVZXnRzSnBS4E-NGhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>537756058705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amitaswal.nexuscrm</string>
	<key>PROJECT_ID</key>
	<string>nexuscrm-dev-amitaswal</string>
	<key>STORAGE_BUCKET</key>
	<string>nexuscrm-dev-amitaswal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537756058705:ios:933b102b34d693824d6470</string>
</dict>
</plist>